.tic-tac-toe {
  display: flex;
  margin: 10px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 24px;
  width: 24px;
}

.row {
  display: flex;
}
