*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
:root {
  --cell-size: 100px;
  --cell-item-size: calc(var(--cell-size) * 0.9);
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @apply border border-green-300 rounded-sm;
}

/* */
.cell.cross::before,
.cell.cross::after {
  content: "";
  position: absolute;
  height: var(--cell-item-size);
  width: calc(var(--cell-item-size) * 0.2);
  @apply bg-gradient-to-br from-green-500 to-blue-400;
}
.cell.cross::before {
  transform: rotate(-45deg);
}
.cell.cross::after {
  transform: rotate(45deg);
}

/* */
.cell:hover.cross-hover::before,
.cell:hover.cross-hover::after {
  content: "";
  position: absolute;
  height: var(--cell-item-size);
  width: calc(var(--cell-item-size) * 0.2);
  @apply bg-gradient-to-br from-green-500 to-blue-400 opacity-60;
}
.cell:hover.cross-hover::before {
  transform: rotate(-45deg);
}
.cell:hover.cross-hover::after {
  transform: rotate(45deg);
}

/* Circle */
.cell.circle::before,
.cell.circle::after {
  content: "";
  position: absolute;
  border-radius: 100%;
}
.cell.circle::before {
  height: 80px;
  width: 80px;
  @apply bg-gradient-to-br from-green-500 to-blue-400;
}
.cell.circle::after {
  height: 50px;
  width: 50px;
  @apply bg-gradient-to-br from-blue-400 to-green-700;
}

/* */
.cell:hover.circle-hover::before,
.cell:hover.circle-hover::after {
  content: "";
  position: absolute;
  border-radius: 100%;
}
.cell:hover.circle-hover::before {
  height: 80px;
  width: 80px;
  @apply bg-gradient-to-br from-green-500 to-blue-400 opacity-80;
}
.cell:hover.circle-hover::after {
  height: 50px;
  width: 50px;
  @apply bg-gradient-to-br from-blue-400 to-green-700 opacity-80;
}

/* */
.cell:hover.cross,
.cell:hover.circle {
  cursor: not-allowed;
}
