/* CROSS  */
.cell.cross::before {
  content: "";
  @apply absolute w-3 transform rotate-45 h-5/6 bg-gradient-to-br from-green-500 to-blue-500;
}
.cell.cross::after {
  content: "";
  @apply absolute w-3 transform -rotate-45 h-5/6 bg-gradient-to-br from-green-500 to-blue-500;
}

/* CROSS HOVER  */
.cell:hover.cross-hover::before {
  content: "";
  @apply absolute w-3 transform rotate-45 h-5/6 bg-gradient-to-br from-green-500 to-blue-500 opacity-60;
}
.cell:hover.cross-hover::after {
  content: "";
  @apply absolute w-3 transform -rotate-45 h-5/6 bg-gradient-to-br from-green-500 to-blue-500 opacity-80;
}

/* ANIMATED CROSS HOVER */
.animate-pulse .cell.cross::before {
  content: "";
  @apply absolute w-3 transform rotate-45 h-5/6 bg-gradient-to-br from-green-400 to-blue-400;
}
.animate-pulse .cell.cross::after {
  content: "";
  @apply absolute w-3 transform -rotate-45 h-5/6 bg-gradient-to-br from-green-400 to-blue-400;
}

/*                                           */

/* CIRCLE  */
.cell.circle::before {
  content: "";
  @apply absolute w-5/6 transform rotate-45 rounded-full h-5/6 bg-gradient-to-br from-green-500 to-blue-500;
}
.cell.circle::after {
  content: "";
  @apply absolute w-1/2 transform -rotate-45 rounded-full h-1/2 bg-gradient-to-br from-blue-600 to-green-600;
}

/* CIRCLE HOVER  */
.cell:hover.circle-hover::before {
  content: "";
  @apply absolute w-5/6 transform rotate-45 rounded-full h-5/6 bg-gradient-to-br from-green-500 to-blue-500 opacity-60;
}
.cell:hover.circle-hover::after {
  content: "";
  @apply absolute w-1/2 transform -rotate-45 rounded-full h-1/2 bg-gradient-to-br from-blue-600 to-green-600 opacity-80;
}

/* ANIMATED CIRCLE HOVER  */
.animate-pulse .cell.circle::before {
  content: "";
  @apply absolute w-5/6 transform rotate-45 rounded-full h-5/6 bg-gradient-to-br from-green-400 to-blue-400;
}
.animate-pulse .cell.circle::after {
  content: "";
  @apply absolute w-1/2 transform -rotate-45 rounded-full h-1/2 bg-gradient-to-br from-blue-500 to-green-500;
}

/*                      */
.cell.cross,
.cell.circle,
.cell.disabled {
  cursor: not-allowed;
}
